.header {
    background-color: var(--dark);
    position: fixed;
    height: 5rem;
    width: 100%;
}
  
.header__container {
    max-width: 1200px;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    border-bottom: 1px solid var(--purple);
}

.header__container a {
    color: var(--white);
    text-decoration: none;
}